{
  "version": 4,
  "terraform_version": "1.6.3",
  "serial": 1,
  "lineage": "5a2c7dcd-b06a-4c0c-9f89-7608d43525a4",
  "outputs": {},
  "resources": [
    {
      "mode": "managed",
      "type": "kubernetes_namespace",
      "name": "monitoring",
      "provider": "provider[kubernetes]",
      "instances": [
        {
          "schema_version": 0,
          "attributes": {
            "id": "monitoring",
            "metadata": [
              {
                "name": "monitoring"
              }
            ]
          }
        }
      ]
    },
    {
      "mode": "managed",
      "type": "kubernetes_config_map",
      "name": "sample_config",
      "provider": "provider[kubernetes]",
      "instances": [
        {
          "schema_version": 0,
          "attributes": {
            "metadata": [
              {
                "name": "sample-config",
                "namespace": "monitoring"
              }
            ],
            "data": {
              "example_key": "example_value"
            }
          }
        }
      ]
    }
  ]
}